* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  padding: 20px;
}
.drawingWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
/* Controls */
.controls {
  display: flex;
  gap: 10px;
  height: 30px;
  justify-content: center;
  margin: 0 auto;
  
}
#addColor{
  
}
/* Color panel */
.colorsPanel {
  margin-bottom: 20px;
}

#colorList {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

/* Color box */
.colorItem {
  width: 36px;
  height: 36px;
  border-radius: 6px;
  position: relative;
  border: 1px solid #ccc;
}

.colorItem button {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: none;
  background: #000;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}

/* SVG preview layout */
#preview {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

/* SVG sizing */
#preview svg {
  width: 100%;
  max-width: 20rem;
  height: auto;
}
#download{
  width: 100%;
  margin-top: 1.5rem;
  border: none;
  outline: none;
  padding: 0.5rem;
  background: green;
  color: white;
  border-radius: 5px;
}
.routeLink{
  margin-bottom: 1rem;
  width: 100%;
}
#colorPicker{
  height: 30px;
}
#select-category{
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 20%;
}
@media (max-width: 1000px) {
#preview svg {
  width: 100%;
}
#select-category{
  width: 100%;
}
}
